body{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
}

.colorD{
    color: #00CDBC;
}

.topBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.adresse{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1,6rem;
}

.logoVelo{
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.user{
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
/* Size IMG */

.bi-bicycle{
    font-size: 2.6rem;
}

.bi-person{
    font-size: 2.6rem;
}